* {
    margin: 0;
    padding: 0;
}

.ffTextBoxWrapper,
.ffPasswordWrapper,
.ffCheckboxWrapper,
.ffRadioWrapper,
.ffTextAreaWrapper,
.ffSubmitWrapper,
.ffResetWrapper,
.ffButtonWrapper {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.ffSelectWrapper {
    display: inline-block;
    zoom: 1;
    margin: 0px 0;
}

.ffTextBoxLeft, .ffTextBoxRight,
.ffPasswordLeft, .ffPasswordRight,
.ffCheckbox, .ffRadio, .ffSelectButton, .ffSelectButton span,
.ffSelectMenuWrapper div.ffSelectMenuTop,
.ffSelectMenuWrapper div.ffSelectMenuBottom,
.ffSelectMenuWrapper > div > span,
.ffTextAreaTop, .ffTextAreaTop span,
.ffTextAreaBottom, .ffTextAreaBottom span,
.ffSubmitWrapper a, .ffSubmitWrapper a span,
.ffResetWrapper a, .ffResetWrapper a span,
.ffButtonWrapper a, .ffButtonWrapper a span {
    background-repeat: no-repeat;
}

/* text box */
.ffTextBoxRight, .ffPasswordRight {
    background-position: 0 0;

}

.ffTextBoxLeft, .ffPasswordLeft {
    background-position: 0 0;
}

.ffTextBoxLeft input, .ffPasswordLeft input {
    display: block;
    background-position: 0 0;
    overflow: hidden;
    white-space: nowrap;
    *white-space: normal;
    text-overflow: ellipsis;
    padding: 5px 13px;
    height: 22px;
    line-height: 22px;
    font-weight: 100;
    font-size: 20px;
    color: #2e2e2e;
    border: none;
    background: transparent;
    cursor: pointer;
    border: 2px solid #d3d2cf;
    border-bottom: none;
}

.ffTextBoxRight:hover,
.ffPasswordRight:hover {
    background-position: right -288px;
}

.ffTextBoxLeft:hover,
.ffPasswordLeft:hover {
    background-position: 0 -32px;
}

.focus .ffTextBoxRight,
.focus .ffPasswordRight {
    background-position: right -320px;
}

.focus .ffTextBoxLeft,
.focus .ffPasswordLeft {
    background-position: 0 -64px;
}

.ffTextBoxWrapper.disabled .ffTextBoxRight,
.ffPasswordWrapper.disabled .ffPasswordRight {
    background-position: right -352px;
}

.ffTextBoxWrapper.disabled .ffTextBoxLeft,
.ffPasswordWrapper.disabled .ffPasswordLeft {
    background-position: 0 -96px;
    color: #999;
}

/* checkbox */

.ffCheckboxWrapper a {
    text-decoration: none;
    position: relative;
    top: 5px;
    padding-left: 5px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
}

.ffCheckbox {
    width: 22px;
    height: 20px;
    float: left;
    margin-top: 12px;
    cursor: pointer;
    background: url(../images/icons/checkbox.png) no-repeat;
    margin-left: 3px;
}

.ffCheckboxWrapper:hover a, .ffCeckboxWrapper.focus a {
    color: #4e4e4e;
}

.ffCheckboxWrapper:hover .ffCheckbox, .ffCeckboxWrapper.focus .ffCheckbox {
    background-position: 0px 0px;
}

.ffCheckboxWrapper.on .ffCheckbox {
    background-position: 0px -40px;
}

.ffCheckboxWrapper.on:hover .ffCheckbox, .ffCeckboxWrapper.on.focus .ffCheckbox {
    background-position: 0px -40px;
}

.ffCheckboxWrapper.disabled .ffCheckbox {
    background-position: 0px 0px;
}

.ffCheckboxWrapper.on.disabled .ffCheckbox {
    background-position: 0px -40px;
}

.ffCheckboxWrapper.disabled a, .ffCeckboxWrapper.disabled:hover a, .ffCeckboxWrapper.disabled.focus a {
    color: #999;
}

/* radio */
.ffRadioWrapper a {
    text-decoration: none;
    position: relative;
    padding-left: 5px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
}

.ffRadio {
    width: 18px;
    height: 18px;
    float: left;
    background: url(../images/icons/radio.png) no-repeat;
    cursor: pointer;
    margin-top: 8px;
}

.ffRadioWrapper:hover a, .ffRadioWrapper.focus a {
    color: #4e4e4e;
}

.ffRadioWrapper:hover .ffRadio, .ffRadioWrapper.focus .ffRadio {
    background-position: 0px 0px;
}

.ffRadioWrapper.on .ffRadio {
    background-position: 0px -36px;
}

.ffRadioWrapper.on:hover .ffRadio, .ffRadioWrapper.on.focus .ffRadio {
    background-position: 0px -36px;
}

.ffRadioWrapper.disabled .ffRadio {
    background-position: 0px 0px;
}

.ffRadioWrapper.on.disabled .ffRadio {
    background-position: 0px -36px;
}

.ffRadioWrapper.disabled a, .ffRadioWrapper.disabled:hover a, .ffRadioWrapper.disabled.focus a {
    color: #999;
}

/* selectbox */
.ffSelectWrapper {
    width: 215px;
    *clear: both;
}

.ffSelect {
    position: relative;
}

.ffSelect > a {
    background-position: 0 0px;
    display: block;
    text-decoration: none;
    outline: 0;
    cursor: default;
}

.ffSelect > a > span {
    display: block;
    background-position: 0 0;
    overflow: hidden;
    white-space: nowrap;
    *white-space: normal;
    text-overflow: ellipsis;
    padding: 5px 13px;
    height: 22px;
    line-height: 22px;
    font-weight: 100;
    font-size: 20px;
    color: #2e2e2e;
    background: transparent;
    cursor: pointer;
    border: 2px solid #d3d2cf;
    border-bottom: none;
}

.ffSelect:hover > a, .ffSelectWrapper.focus .ffSelect > a {
}

.ffSelect:hover > a > span, .ffSelectWrapper.focus .ffSelect > a > span {
    color: #e23232;
    background: url(../images/sel2.gif) no-repeat center 12px;
}

.ffSelectWrapper.active  .ffSelect> a {
    z-index: 1005;
    position: relative;
}

.ffSelectWrapper.active  .ffSelect > a > span {
    background: url(../images/mark7.gif) no-repeat 144px center;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    color: #3399cc;
}

.ffSelectWrapper.disabled .ffSelect > a {
    background-position: right -224px;
}

.ffSelectWrapper.disabled .ffSelect > a > span {
    background-position: 0 -96px;
    color: #999;
}

.ffSelectMenuWrapper {
    width: 100%;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li {
    padding: 5px 8px;
    text-align: left;
    cursor: default;
    line-height: 18px;
    background-color: #fff;
    color: #666666;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li SPAN {
    font-weight: bold;
    font-size: 12px;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.disabled SPAN {
    color: #888;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.on {
    background-color: #efefef;
    color: #818181;
}

.ffSelectMenuWrapper {
}

.ffSelectMenuTop {
    height: 5px;
    background-position: 0 -394px;
    display: none;
}

.ffSelectMenuTop span {
    display: block;
    height: 5px;
    margin-left: 8px;
    background: right -384px;
}

.ffSelectMenuBottom {
    height: 5px;
    background-position: 0 -414px;
}

.ffSelectMenuBottom span {
    display: block;
    height: 5px;
    margin-left: 8px;
    background-position: right -404px;
}

.ffSelectMenuMidBG {
}

.ffSelectMenuMid {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #d9d9d9;
    border-top: none;
}

.scrollingBarWrapper {
    width: 24px;
    height: 200px;
    background: url(images/scrollingBarBg.png) no-repeat;
    right: 3px !important;
}

.scrollingHandle {
    width: 24px;
    padding-top: 20px;
    background: url(images/scrollingHandleTop.png) no-repeat 0 0;
}

.scrollingHandleBottom {
    width: 24px;
    background: url(images/scrollingHandleBottom.png) no-repeat 0px bottom
}

/* textarea */
.ffTextAreaWrapper textarea {

    padding: 0;

    resize: none;
    font-size: 14px;
    line-height: 16px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
}

.ffTextAreaTop {
    height: 5px;
    background-position: 0 -394px;
}

.ffTextAreaTop span {
    display: block;
    height: 5px;
    margin-left: 8px;
    background-position: right -384px;
}

.ffTextAreaMid {
    background: transparent url(images/sides.png) repeat-y right 0;
}

.ffTextAreaMid .ffTextAreaLeft {
    background: url(images/sides.png) repeat-y 0 0;

}

.ffTextAreaBottom {
    height: 5px;
    background-position: 0 -414px;
}

.ffTextAreaBottom span {
    display: block;
    height: 5px;
    margin-left: 6px;
    background-position: right -404px;
}

/* button */
.ffButtonWrapper > a {

    display: block;
    text-decoration: none;
    outline: 0;
    background: #2f709e;
    text-align: center;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    border-radius: 9px;
    behavior: url(PIE.htc);
}

.ffButtonWrapper > a > span {
    display: block;
    height: 33px;
    line-height: 33px;
    font-size: 28px;
    background-position: 0 0px;
    text-align: center;
    padding: 10px 28px;
    color: #fff;
    font-weight: 100;
    width: 248px;

}

.ffButtonWrapper:hover > a {
    background: #6895b4;
    background-position: 0 -20px;
}

.ffButtonWrapper:hover > a > span {
    background-position: 0 0px;
}

.ffButtonWrapper > a:active {
    background: #134b72;
    position: relative;
}

.ffButtonWrapper > a:active > span {
    background-position: 0 -504px;
    margin: 0;
}

.ffButtonWrapper.disabled > a {
    background-position: right -705px;
    position: static;
}

.ffButtonWrapper.disabled > a > span {
    background-position: 0 -544px;
    color: #c1c1c1;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

/* remove webkit yellow border */

select.mobileSelect {
    opacity: 0;
    filter: alpha(opacity = 0);
    position: absolute;
    top: 0;
    display: block;
}

.view-num .ffSelectWrapper {
    width: 60px;
}

.view-num .ffSelect > a > span, .view-num  .ffSelectWrapper.active .ffSelect > a > span {
    width: 31px;
    padding-right: 27px;
    background: url(../images/select.jpg) no-repeat;
    text-align: center;
    height: 28px;
    line-height: 28px;
    border: 1px solid #cecece;
    font-weight: bold;
    color: #666666;
    padding-left: 0;
}

.sel .ffSelectWrapper {
    width: auto;
    vertical-align: top;
}

.sel .ffSelect > a {
    height: 31px !important;
    border: 1px solid transparent;
    border-bottom: none;
}

.sel .ffSelect > a > span, .sel .ffSelectWrapper.active .ffSelect > a > span {
    border: none;
    height: 29px;
    line-height: 29px;
    padding-right: 16px;
    background: url(../images/mark3.gif) no-repeat right;
    padding-left: 5px;
    margin-right: 5px;
    color: #666666;
    font-weight: 100;
}

.sel.checked  .ffSelect > a > span, .sel.checked .ffSelectWrapper.active .ffSelect > a > span {
    font-weight: bold;
}

.sel  .ffSelectWrapper.active .ffSelect > a {
    border: 1px solid #d9d9d9;
    border-bottom: none;
}

.sel .ffSelectMenuWrapper .ffSelectMenuMidBG li {
    padding: 5px;
}

.sel .ffSelectMenuWrapper .ffSelectMenuMidBG li span {
    font-weight: 100;
}

.sel .ffSelectMenuWrapper {
    top: 31px !important;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
